extends ../../_partials/_template
include ../../_mixins/_side-nav
include ../../_mixins/_legalFootNote

block metaKeywords
  meta(name='keywords', content="Logistical Management,cost contral,Quality assurance,Quality control,Supplier Management,Warehouse and logistics management,供应链管理,成品控制,质量保证,质量控制,供应商管理,仓储物流管理")
block metaDescription
  meta(name="description", content="供应链管理,成品控制,质量保证,质量控制,供应商管理,仓储物流管理")

block headJs
  link(rel="stylesheet" href="/public/utune.min.css")
  script(src="/public/utune-detectors.min.js")
block js
  script(src="/public/jquery-migrate-1.2.1.min.js")
  script(src="/public/three.js")
  script(src="/public/utune-wave.min.js")
  script(src="/public/utune.min.js")

block content
  +side-nav(1)
  .c-chain
    .c-chain__header.home
      #ourintro
        .header-gradient-bg
        #webgl-canvas
      .c-chain__header--title.font--bomb
        .c-chain__header--title-content Supply chain <br>management
    each item,key in chain.management
      .c-chain__managment(style=(item.bgImg==="")?item.bgStyle:"background-image:url("+paths.img+item.bgImg+");#{item.bgStyle}")
        if(key % 2 === 0)
          .c-chain__managment--content
            img(src=paths.img + item.img)
          .c-chain__managment--content.txt--black
            h2=item.title
              h3=item.subTitle
              p!=item.zh
              p.txt-copy-grey!=item.en
          .clear
        else
          .c-chain__managment--content
            h2=item.title
            h3=item.subTitle
            p(style="font-family:'Microsoft YaHei'")!=item.zh
            p!=item.en
          .c-chain__managment--content
            img(src=paths.img + item.img)
          .clear
    .c-chain__footer.txt--black
      .c-chain__footer--title
        .c-chain__footer--line-before
        h2 WHY UTUNE
        .c-chain__footer--line-after
      h3 Team Vision Innovation Passion
         br
         | Standard Quality Profession System
      .c-chain__footer--icon
        ul
          each item,key in chain.utune
            li
              a(href="#")
                img(src=paths.img + item.img +".svg")
                span=item.txt
        +legalFootNote