extends ../../_partials/_template
include ../../_mixins/_side-nav

block headJs
  script(src=paths.js + 'loading.js')
  link(rel="stylesheet" href="/public/utune.min.css")
  script(src="/public/utune-detectors.min.js")
block js
  script(src="/public/jquery-migrate-1.2.1.min.js")
  script(src="/public/three.js")
  script(src="/public/utune-globe.min.js")
  script(src="/public/utune.min.js")
block content
  +side-nav(1)
  .c-chain.c-space
    .c-chain__header.toload.home
      #ourintro
        .header-gradient-bg
        #webgl-canvas
      .c-chain__header--title.font--bomb
        .c-chain__header--title-content Space Design
    .c-space__design
      .c-space__design-row
        .c-space__design-col.c-space__design-p-r
          .c-space__design--item.c-space-p-r
            img(src=paths.img + "space-design-1.jpg" )
            .c-space__design--item-mask
              .c-space__design--item-mask-bg
              .c-space__design--item-mask-txt
                p 我们永远坚持探索新鲜世界的好奇心，<br>以专业的态度将创意完美执行。
                a(href=paths.img + "space-design-1.jpg" data-fancybox="images")
                  img(src=paths.img + "space-design-play-button.png")
        .c-space__design-col.c-space__design-p-l
          .c-space__design--item
            img(src=paths.img + "space-design-2.jpg")
            .c-space__design--item-mask
              .c-space__design--item-mask-bg
              .c-space__design--item-mask-txt
                p 我们从视觉设计、空间导视设计、舞台搭建、<br>VR技术、多媒体制作等方面，<br>为客户提供最佳解决方案。
                a(href=paths.img + "space-design-2.jpg" alt="" data-fancybox="images")
                  img(src=paths.img + "space-design-play-button.png")
      .c-space__design-row
        .c-space__design-col
          .c-space__design--item
            img(src=paths.img + "space-design-3.jpg")
            .c-space__design--item-mask
              .c-space__design--item-mask-bg
              .c-space__design--item-mask-txt
                p 我们用创新的方式，发现、传播、整合、服务。<br>时间与空间相同，似流水般滔滔不绝、川流不息，<br>然而将设计与人愿结合，就会呈现出不同。。
                a(href=paths.img + "space-design-3.jpg" alt="" data-fancybox="images")
                  img(src=paths.img + "space-design-play-button.png")

      .c-space__design-row
        .c-space__design-col.c-space__design-p-r
          .c-space__design--item
            img(src=paths.img + "space-design-4.jpg")
            .c-space__design--item-mask
              .c-space__design--item-mask-bg
              .c-space__design--item-mask-txt
                p 我们始终怀着好奇心去展开想象，<br>并不断将创意付诸现实
                a(href=paths.img + "space-design-4.jpg" alt="" data-fancybox="images")
                  img(src=paths.img + "space-design-play-button.png")
        .c-space__design-col.c-space__design-p-l
          .c-space__design--item(style="margin-bottom:2.6%")
            img(src=paths.img + "space-design-5.jpg")
          .c-space__design--item
            img(src=paths.img + "space-design-6.jpg")
      .c-space__design-row.l-mgn--t-3
        a.c-space__design-btn.txt--black(href=paths.img + "space-design-1.jpg" data-fancybox="group")
          span MORE PHOTOS
    .c-chain__footer.c-space__footer
      .c-chain__footer--title
        .c-chain__footer--line-before
        h2 WHY UTUNE
        .c-chain__footer--line-after
      h3 Team Vision Innovation Passion
         br
         | Standard Quality Profession System
      .c-chain__footer--icon
        ul
          each item,key in chain.utune
            li
              a(href="#")
                img(src=paths.img + item.img +".svg")
                span=item.txt