<!--[if (gt IE 8)]><!-->
script(src=paths.js + 'vendor/jquery.js')
<!--<![endif]-->

<!--[if (lte IE 8)]>
script(src=paths.js + 'vendor/old-ie/jquery-1.9.0.js')
script(src=paths.js + 'vendor/old-ie/html5shiv.js')
script(src=paths.js + 'vendor/old-ie/selectivizr-min.js')
<![endif]-->
script.
  var MLP = MLP || {};
  MLP.paths = !{JSON.stringify(paths)};
script(src=paths.js + 'vendor.min.js')
script(src=paths.js + 'app.min.js')

