include ../_mixins/_helper

include _config

head
  title=stripTags(app.name)
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(charset='utf-8')
  meta(name='description', content=app.description)
  meta(name='keywords', content=app.keywords)
  <!--[if (gt IE 8)]><!-->
  link(rel='stylesheet', href=paths.css + 'app.css')
  <!--<![endif]-->
  <!--[if (lte IE 8)]>
  link(rel='stylesheet', href=paths.css + 'app-ie.css')
  <![endif]--> 
  link(rel='shortcut icon' href=paths.img + 'favicon.ico' type='image/ico')
