extends ../_partials/_template
include ../_mixins/_nav
block content
  +nav(0)
  .c-content.c-homepage(data-js-fullpage)
    .section.c-homepage__1
      .c-homepage__1__content
        img(src=paths.img + 'logo-utune.png', alt="Utune Creative logo")
        br
        svg(version="1.1", xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px",width="600px", height="188px", viewBox="0 0 446 134.001", style="enable-background:new 0 0 446 134.001;" xml:space="preserve")
          path#creative_word(stroke-width="5",style="fill-rule: evenodd; clip-rule: evenodd; fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 5;",d="M39.458,99.811c7.812-13.136,10.786-21.562,12.452-30.184   c2.761-14.284,4.164-23.097-3.223-26.502c-12.104-5.58-25.333,14.523-29.375,21.938C15.271,72.475,2.917,97.33,3.947,115.501  c0.88,15.504,10.324,18.085,22.411,13.959c9.734-3.321,19.589-10.312,28.56-17.232c7.72-5.954,22.682-18.217,27.238-22.139  c4.556-3.921,2.434-10.141,6.969-9.746c4.586,0.399-5.916,7.887,1.333,7.785c3.848-0.054,9.518-2.683,12.15-4.747   c2.632-2.063,1.914-0.447,2.025,1.652c0.117,2.217-4.258,16.529,3.486,15.707c4.625-0.491,28.002-20.558,30.23-20.971   c2.227-0.413,9.354,0.261,13.526-3.457c3.896-3.472,9.712-9.521,1.56-9.442c-2.56,0.025-9.849,4.282-11.571,6.655   c-1.721,2.373-3.116,5.465-1.926,9.537c1.603,5.487,7.32,9.813,17.041,7.026c9.72-2.786,20.25-10.217,33.007-20.741   c5.293-4.368,16.807-11.662,25.717-12.693c0.61,2.096-11.041,3.735-16.2,11.042c-5.974,8.462-8.191,18.585-3.565,17.429   c14-3.5,18.499-17.23,20.777-16.191c1.77,1.252-8.839,12.629,1.417,11.454c4.327-0.495,14.407-6.792,21.493-11.95   c7.088-5.16,14.955-12.299,18.296-15.188c3.344-2.89,13.265-15.789,17.313-22.496c3.347-5.543,6.279-11.249,7.797-17.544  c1.02-4.219-3.544,0.104-6.177,4.025c-2.632,3.921-6.724,9.216-13.668,29.307c-2.763,7.992-8.418,24.852-2.749,24.646   c5.671-0.208,11.969-5.613,17.125-8.438c5.753-3.151,15.695-10.843,21.263-14.764c5.569-3.921,7.791-5.681,10.227-5.779   c2.011-0.082-0.474,1.563-0.677,3.731c-0.202,2.167-2.892,15.005,2.375,15.625c3.441,0.404,9.439-5.321,14.806-9.243  c5.367-3.921,18.125-12.768,23.694-16.07c4.263-2.527,7.317-5.08,6-2.5c-1.315,2.58-10.734,15.246-4.812,21.562   c0.938,1,10.454-5.675,16.935-13.518c6.479-7.843,4.577-12.228,2.19-10.232c-6.5,5.438-4.371,12.178-0.625,13.312   s13.902-3.044,20.688-7.688c4.95-3.389,7.927-7.742,10.812-7.188c4.875,0.938,12.088-1.026,16.329-8.239  c2.265-3.851,1.615-4.162-2.079-4.261c-3.849-0.103-8.86,1.943-12,7s-1.722,8.667-0.812,10.938   c0.913,2.271,4.836,6.893,12.938,5.625c7.188-1.125,18.585-6.883,29.216-15.964")
          path#creative_dot(stroke-width="5",style="fill-rule: evenodd; clip-rule: evenodd; fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 5;", d="M313.758,15.036C312.312,3.438,334.172,0.902,337.71,1.003")
          path#creative_t(stroke-width="5" style="fill-rule: evenodd; clip-rule: evenodd; fill: none; stroke: rgb(255, 255, 255); stroke-miterlimit: 5;", d="M251.633,44.547c9.061-0.787,31.036-7.119,48.367-18.734")
      .font-icon-btn-next.c-homepage__next-button.js-fullpage-next-button
    .section.c-homepage__2(data-js-switch-tab)
      .c-homepage__tab-1
        img.jiguang.jiguang1(src=paths.img + "wedo-jiguang.png")
        img.jiguang.jiguang3(src=paths.img + "wedo-jiguang.png")
        img.jiguang.jiguang2(src=paths.img + "wedo-jiguang2.png")
        img.star(src=paths.img + "wedo-hill-star.png")
        img.jiguang(src=paths.img + "wedo-triple-prism.png")
      .c-homepage__tab-2
        //- img.star.hill(src=paths.img + "background-wedo-tab2-stars.jpg")
        canvas#stars 该浏览器不支持canvas  
        img.mirrors(src=paths.img + "wedo-mirrors.png")
      .c-homepage__tab-3(data-js-skewing)
        img.lake(src=paths.img + "wedo-lake-light.png")
        img.hill(src=paths.img + "wedo-hill-last.png")
        img.hill(src=paths.img + "wedo-hill-mid.png")
        img.hill(src=paths.img + "wedo-hill-front.png")
        img.lake(src=paths.img + "wedo-lake.png")
        img.lake.lang(src=paths.img + "wedo-lake-ripple.png")
        img.lake.lang(src=paths.img + "wedo-lake-ripple2.png")
        img.lake.chuan(src=paths.img + "wedo-lake-fan.png")
        img.lake.chuan2(src=paths.img + "wedo-lake-fan2.png")
      .c-homepage__tab-4
        img.star.star1(src=paths.img + "star.svg")
        img.star.star2(src=paths.img + "star.svg")
        img.star.star3(src=paths.img + "star.svg")
        img.star.star4(src=paths.img + "star.svg")
        img.star.star5(src=paths.img + "star.svg")
        img.star.star6(src=paths.img + "star.svg")
        img.star.star7(src=paths.img + "star.svg")
        img.star.star8(src=paths.img + "star.svg")
        img.tree.tree1(src=paths.img + "wedo-tree-1.png")
        img.tree.tree2(src=paths.img + "wedo-tree-2.png")
        img.tree.tree3(src=paths.img + "wedo-tree-3.png")
        img.tree.tree4(src=paths.img + "wedo-tree-4.png")
        img.tree.tree5(src=paths.img + "wedo-tree-5.png")
        img.tree.tree6(src=paths.img + "wedo-tree-6.png")
        img.tree.tree7(src=paths.img + "wedo-tree-7.png")
      .c-homepage__tab-panel
        ul
          each item in weDoTabPanel
            li.font--roboto-light
              div.c-homepage__tab-panel__icon(class=item.icon)
              span!= item.text
              a.c-homepage__tab-panel__button(class=item.buttonClass href=item.url) View
      .font-icon-btn-next.c-homepage__next-button.js-fullpage-next-button
    .section.c-homepage__3
      .c-homepage__3--main
        each item in ourwork
          a.c-gallery__item.draw(href=item.href alt=item.alt class=item.widthClass+" "+item.floatClass)
            img.l-full-width(src=paths.img + item.img)
          if item.isEnd=="true"
            .clear
    .section.c-homepage__4
      h2 our clients
      //- (data-js-masonry)
      .c-masonry
        each item in clients
          a.c-masonry__item(href=item.href alt=item.alt)
            i
            img(src=paths.img + item.img)

      .font-icon-btn-next.c-homepage__next-button.js-fullpage-next-button

    .section.c-homepage__5
      h2 contact us
      .c-homepage__5__main
        .l-grid__col.l-col-10-5.l-pad--l-1.l-pad--r-1
          form
            .text-input.l-grid__col.l-col-10-5.l-pad--r-1
              input#name(type="text", name="your-name", required)
              label Your Name
              span
            .text-input.l-grid__col.l-col-10-5.l-pad--l-1
              input#email(type="text", name="your-email", required)
              label Your Email
              span
            .clear
            .text-input
              input#mySubject(type="text", name="your-subject", required)
              label Your Subject
              span
            .text-input
              textarea#myMessage(name="your-message", required)
              label Your Message
              span
            button.txt--uppercase.l-flt--r(type="submit") send your message
            .clear
        .l-grid__col.l-col-10-5
          .l-grid__col.l-col-10-5
            .font-icon-mail
            .c-homepage__5__email
              each item in contactEmail
                p!= item.name
                  br
                  a(href="mailto:#{item.email}")!= item.email
                br
                
          .l-grid__col.l-col-10-5.l-pad--l-1.l-pad--r-1
            div
              .font-icon-address
              .c-homepage__5__location
                p!= contactAddress.add
                br
                
                p!= contactAddress.postcode
                br
                
                p!= contactAddress.chineseAdd
            .clear
            div
              .font-icon-phone
              .c-homepage__5__phone
                p.
                  #{contactPhone.name}
                  <br>
                  #{contactPhone.number}
      .font-icon-btn-next.c-homepage__next-button.js-fullpage-next-button
    .section.c-homepage__6
      .c-homepage__6--logo
        img(src=paths.img + "logo-green.svg")
      .c-homepage__6--text.font--roboto-regular!=aboutUtune.text
      .c-homepage__6--footer.font--roboto-light!=aboutUtune.footer_text

