extends ../_partials/_template
include ../_mixins/_side-nav

block metaKeywords
  meta(name='keywords', content="悦动力,品牌沟通,产品策划,供应链管理,utune, Brand communication, product planning, supply-chain management")
block metaDescription
  meta(name="description", content="北京悦动力自成立以来，在品牌传播，产品策划，创意创新，采购与生产等领域不断拓展前行。")
block content
  +side-nav(1, 1)
  .c-content.c-wedo
    .l-flt--l.js-wedo-title.c-wedo__title-container(style="width:25%")
      .c-wedo__slider
          .c-wedo__title
            h1 We Do
    .owl-carousel(data-js-owl-carousel style="width:75%;margin-left:25%")
      //- .c-wedo__slider
      //-   .c-wedo__title
      //-     h1 We Do
      each item, index in weDoSlider
        - var num = index + 1
        .c-wedo__slider(class="c-wedo__slider-#{num}")
          .c-wedo__thumb-wrap
            a.c-wedo__thumb-wrap__thumb(style="background-image:url('" + paths.img + item.image + "')", href=item.link)
          //- img(src=paths.img + item.image, alt="")
          .c-wedo__brief(class="c-wedo__brief-#{num}")
            .l-absolute.c-wedo__overlay
              .c-wedo__brief__heading!= item.title
              .c-wedo__brief__content!= item.content
              a(href=item.link).
                More Details <span class="font-icon-arrow"></span>
    .c-wedo__carousel-nav
      .c-wedo__carousel-nav__btn.c-wedo__carousel-nav__prev.js-carousel-prev
        i.font-icon-btn
      .c-wedo__carousel-nav__btn.c-wedo__carousel-nav__next.js-carousel-next
        i.font-icon-btn

